frameworks: net10.0
source https://api.nuget.org/v3/index.json
source ./EvgTsvDotMe.PagesProvider/output

http https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js

nuget FSharp.SystemTextJson
nuget FsToolkit.ErrorHandling
nuget FSharp.Data
nuget Oxpecker ~> 2.0.0
nuget Oxpecker.Htmx ~> 2.0.0
nuget Oxpecker.OpenApi ~> 2.1.1
nuget EvgTsvDotMe.PagesProvider

storage: none
